.clip-slant {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}

.top40{
  top: 40%;
}

.width500{
  width: 500px;
}

.width20{
  width: 20%;
}

.noResize{
  resize: none;
}

@media (max-width: 880px) {
  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .margin-right{
    margin-right: 2.5rem;
  }
  .img-full{
    width: 100%;
  }
}
